.footer {
  margin-top: 120px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
}
